<h1>Hello World!</h1>

<%= "I love" + "RUBY"%>

<h1>
  <%= 1 + 2%>
</h1>

<div>1 +2</div>

<% catlady = true%>
<% if catlady == true %>
<p>You are a crazy cat lady!</p>
<% else %>
<p>Join Adielle"s cat hating army</p>
<% end %>

<% comments = ["Your pictures are so cute", 'Love the dog!', 'Miss you!'] %>
<ol>
  <% comments.each do |comment| %>
  <li><%= comment %></li>
  <% end %>
</ol>


